nose>=1.2.1
mock>=1.0.1
pyhamcrest>=1.6
flexmock>=0.10.2
-e git+https://github.com/simon-begin/mockssh.git#egg=MockSSH
-e git+https://github.com/simon-begin/fake-switches.git#egg=fake-switches
gunicorn>=19.4.5
flake8==3.4.1
futures; python_version == "2.7" # pyth dependency of gunicorn
jabstract
