nose>=1.2.1
mock>=1.0.1
pyhamcrest>=1.6
flexmock>=0.10.2
fake-switches>=1.2.1
MockSSH>=1.4.2,!=1.4.5 # 1.4.5 has fixed dependency and freezes paramiko
gunicorn>=19.4.5
flake8==3.4.1
futures; # Runtime dependency of gunicorn
